.header-content {
  display: flex;
  justify-content: space-evenly;
}

.header-second {
  font-weight: bold;
  font-size: 30px;
  font-family: "Martel", serif;
  font-family: "Roboto", sans-serif;
  color: #e49e00;
}

.header-logo {
  height: 60px;
  width: 100px;
}
