/* layout */
.counter-display {
  line-height: 10px;
  padding: 10px;
  color: white;
  display: flex;
  justify-content: space-evenly;
}

/* title of the counter */
.time-title {
  font-size: 20px;
  color: #e49e00;
  font-weight: bold;
}

/* counter numbers */
.counter {
  font-size: 50px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
.time-bar-second {
  line-height: 50px;
}
