.carousel {
  width: 100%;
  height: 100%;
  margin: 0;
}

/* .carousel-control-prev {
  height: 300px;
}

.carousel-control-next {
  height: 300px;
} */

.carousel .carousel-control-prev-icon {
  visibility: hidden;
}

.carousel:hover .carousel-control-prev-icon {
  visibility: visible;
}

.carousel .carousel-control-next-icon {
  visibility: hidden;
}

.carousel:hover .carousel-control-next-icon {
  visibility: visible;
}

.CarouselView {
  width: 648;
  height: 380px;
}

.carousel .item {
  height: 600px;
}

.item img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 600px;
}

img {
  width: 100%;
  height: 380px;
  top: o;
}
