/* Source: Layout- https://www.developerdrive.com/holy-grail-layout-flexbox/ 
 * Source: Darkmode - https://www.developerdrive.com/css-dark-mode/
*/
/* REST */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: white;
  text-align: center;
  font-size: 24px;
  line-height: 3;
  background: #181729; /* the accent color #3e4b75*/
}

.header,
.time-bar,
.content,
footer {
  border: 1px white solid;
}

.header {
  /* background: orangered; */
}
.time-bar {
  /* background: olive; */
}

.main {
  /* background: darkslateblue; */
}
.footer {
  /* background: deeppink; */
}
.left-side {
  /* background: dodgerblue; */
}

.right-side {
  /* background: forestgreen; */
}

/* mobile layout */
.container,
.content {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

@media all and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
  .content {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .main {
    flex: 3;
    order: 2;
    min-height: 30vh;
  }
  .left-side {
    flex: 1;
    order: 1;
  }
  .right-side {
    flex: 1;
    order: 3;
    justify-content: center;
    align-content: center;
  }

  .controlButtonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-around; */
    /* align-content: space-around; */
    margin-top: 10px;
  }
}

/* footer setup */

.footer {
  display: flex;
  height: 200px;
  align-content: center;
  justify-content: center;
}
.rectangle {
  width: 180px;
  height: 40px;
  background: #3e4b75;
  border: 1px solid white;
  bottom: 0px;
  position: relative;
  margin-right: 10px;
  margin-top: 10px;
  text-align: center;
  cursor: pointer;
  /* display: flex;
  align-content: center;
  justify-content: center; */
}

.rectangle > h6 {
  margin: 0;
  line-height: 38px;
}

.rectangle:hover {
  background: #151f41;
}

.chart {
  height: 100px;
}
